*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
body{
    background-color: #1b1b1b;
}
.top-container{
    font-family: "Zen Kaku Gothic New", sans-serif;
}
.top-title{
    text-align: center;
    font-weight: 700;
    font-style: normal;
    margin-top: 25vh;
    color: #fff;
    display: flex;
    justify-content: center;
    position: relative;
}
.top-title img{
    width: 250px;
    height: 250px;
    margin-top: 39px;
    margin-right: 10px;
}
.top-title h1{
    font-size: 150px;
}
.top-title h2{
    font-size: 32px;
}
.arrow-container{
    text-align: center;
}
.arrow-container img{
    margin: 6vh;
}
.arrow-container p{
    color: #fff;
}
.fixed-menu{
    position: fixed;
    z-index: 10000;
    left: 50%;
    bottom: 40px;
    transform: translateX(-50%);
    width: 920px;
    height: 65px;
    background-color: #fff;
    display: flex;
    border-radius: 50px;
}
.fixed-menu-left{
    margin-left: 40px;
}
.fixed-menu p{
    font-size: 20px;
    margin-top: 15px;
}
.fixed-menu-time{
    margin: 6.5px 30px 6.5px 20px;
}
.fixed-menu-time p{
    font-size: 16px;
    margin-top: 0px;
}
.fixed-menu img{
    width: 35px;
    height: 35px;
    margin-top: 12px;
}
.fixed-menu-location-image{
    margin-left: 25px;
    margin-right: 20px;
}
.fixed-menu-location{
    margin-right: 25px;
}
.fixed-menu-location-sp{
    display: none;
}
.fixed-menu-sns{
    margin-left: 15px;
}
.fixed-menu-sns-image{
    margin-left: 10px;
    margin-top: 7px;
}
.fixed-menu a{
    text-decoration: none;
    color: #1b1b1b;
}
.top-line{
    width: 100vw;
    height: 30px;
    border-top: solid 4px #fff;
    border-bottom: solid 4px #fff;
    margin-top: 30vh;
}
.news-container{
    text-align: center;
    align-items: center;
    color: #fff;
    font-family: "Zen Kaku Gothic New", sans-serif;
}
.news-container h2{
    font-size: 7vw;
    margin-top: 100px;
}
.news-block-container{
    margin-top: 50px;
}
.news-block{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 60vw;
    border-bottom: solid 2px #fff;
    display: flex;
    font-size: 1.3vw;
}
.news-date{
    margin: 1vw 2vw;
    font-size: 1.2vw;
}
.news-tab{
    width: 6.2vw;
    border-radius: 30px;
    margin: 1vw 2vw;
}
.news-sp-flex{
    display: flex;
}
/* ここにタブクラス名を追加 */
.shinkan{
    background-color: #FF91D1;
}
.event{
    background-color: #58B1E4;
}
/* ここまで */
.news-sentence{
    margin: 1vw 1vw;
}
.features-container{
    margin-top: 200px;
}
.features-container{
    background-image: url(images/mori.png);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
}
.fetures-block-container{
    position: relative;
    width: 570px;
    height: 1600px;
    background-color: #fff;
    margin-top: 100vh;
    margin-bottom: 40vh;
    border-radius: 400px;
    font-family: "Zen Kaku Gothic New", sans-serif;
}
.ferures-block-line{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 520px;
    height: 1550px;
    border-radius: 400px;
    border: solid 2px #1b1b1b;
    text-align: center;
}
.ferures-block-line h3{
    color: #1b1b1b;
    margin-top: 150px;
    font-size: 36px;
}
.ferures-block-line h4{
    padding-top: 50px;
    font-size: 22px;
}
.ferures-block-line p{
    padding: 25px 50px;
}
.ferures-block-line img{
    width: 100px;
    margin-top: 0px;
    margin-right: 300px;
}
.sp-br{
    display: none;
}
.events-container{
    color: #fff;
    font-family: "Zen Kaku Gothic New", sans-serif;
    text-align: center;
}
.events-container h2{
    font-size: 64px;
    margin-top: 200px;
}
.events-container p{
    margin-top: 50px;
}
.instagram-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 328px);
    justify-content: center;
    gap: 30px;
    padding: 20px;
    margin-top: 70px;
}
.instagram-content{
    width: 328px;
}
.location-container{
    color: #fff;
    font-family: "Zen Kaku Gothic New", sans-serif;
    text-align: center;
}
.location-container h2{
    font-size: 64px;
    margin-top: 200px;
}
.location-sentence{
    margin-top: 50px;
}
.location-detail-container {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    gap: 40px;
    padding: 70px 20px;
    box-sizing: border-box;
}
.mejirodai-container,
.nishitoyama-container {
    width: min(500px, 90vw); 
    position: relative;
}
.location-detail-container img {
    width: 100%;
    height: auto;
    border: solid 7px #fff;
    box-sizing: border-box;
}
.location-detail-container h4{
    position: absolute;
    top: 150px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 26px;
}
.waseda-station,
.location-trains-container{
    position: absolute;
    top: 290px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 20px;
    width: 100%;
}
.location-trains-container{
    display: flex;
    justify-content: center;
    align-items: end;
    top: 255px;
}
.location-trains{
    font-size: 15px;
    text-align: end;
    padding-right: 25px;
}
.google-map{
    position: absolute;
    bottom: 2%;
    left: 50%;
    transform: translateX(-50%);
}
.google-map {
    width: 100%;
    padding-top: 81.4%;
    margin-top: 20px;
    border: none;
}
.google-map iframe {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    height: 90%;
    border: 0;
}
footer{
    background-image: url(images/back.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    font-family: "Zen Kaku Gothic New", sans-serif;
    position: relative;
}
.footer-logo{
    position: absolute;
    top: 12vh;
    left: 9vw;
}
.footer-logo h2{
    font-size: 110px;
    color: #fff;
}
.footer-entry{
    width: 380px;
    height: 65px;
    background-color: #fff;
    color: #1b1b1b;
    font-size: 24px;
    font-weight: 550;
    text-align: center;
    border-radius: 50px;
    margin-top: 1vw;
    position: relative;
}
.footer-entry p{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    width: 100%;
}
.return-top{
    position: absolute;
    top: 18vh;
    right: 10vw;
}
.return-top img{
    width: 10vw;
    height: 10vw;
}
@media (max-width:1025px){
    .tablet-none{
        display: none;
    }
    .footer-logo{
        top: 12vh;
    }
    .footer-logo h2{
        font-size: 88px;
    }
    .footer-entry{
        width: 300px;
        height: 50px;
        font-size: 20px;
    }
    .footer-entry p{
        width: 100%;
    }
    .return-top img{
        width: 20vw;
        height: 20vw;
    }
    .return-top{
        top: 70vh;
        right: 9vw;
    }
}
@media (max-width:930px){
    .top-title{
        margin-top: 35vh;
    }
    .top-title img{
        width: 200px;
        height: 200px;
        margin-top: 35px;
        margin-right: 0px;
    }
    .top-title h1{
        font-size: 120px;
    }
    .top-title h2{
        font-size: 24px;
    }
    .arrow-container img{
        margin: 5vh;
    }
    .fixed-menu{
        width: 630px;
        height: 60px;
    }
    .fixed-menu-left{
        margin-left: 20px;
    }
    .fixed-menu p{
        font-size: 15px;
        margin-top: 18px;
    }
    .fixed-menu-time{
        margin: 10px 20px 0px 20px;
    }
    .fixed-menu-time p{
        font-size: 14px;
        margin-top: 0px;
    }
    .fixed-menu-sns{
        display: none;
    }
    .fixed-menu-location{
        margin-right: 15px;
    }
    .fixed-menu-location-image{
        margin-left: 15px;
        margin-right: 10px;
    }
    .fixed-menu-sns-image{
        margin-left: 15px;
    }
    .news-container h2{
        font-size: 64px;
        margin-top: 80px;
    }
    .news-block{
        width: 80vw;
        font-size: 18px;
    }
    .news-date{
        padding-top: 10px;
        margin: 0;
        width: 100%;
        font-size: 15px;
    }
    .news-tab{
        width: 70px;
        font-size: 14px;
    }
    .news-sentence{
        padding-top: 4px;
        padding-left: 20px;
        width: 80%;
        text-align: left;
    }
    .news-sp-flex{
        display: block;
        margin-left: 10px;
        margin-top: 3px;
    }
    .features-container{
        margin-top: 100px;
        /* background-color: #1b1b1b;
        background-image: none; */
    }
}
@media (max-width:630px){
    .top-title{
        margin-top: 35vh;
    }
    .top-title img{
        width: 111px;
        height: 111px;
        margin-top: 9px;
        margin-right: 0px;
    }
    .top-title h1{
        font-size: 60px;
    }
    .top-title h2{
        font-size: 12px;
    }
    .arrow-container img{
        margin: 3vh;
    }
    .fixed-menu{
        width: 320px;
        height: 60px;
    }
    .fixed-menu-left{
        margin-left: 15px;
        width: 50px;
    }
    .fixed-menu-left span{
        display: none;
    }
    .fixed-menu p{
        font-size: 14px;
        margin-top: 20px;
    }
    .fixed-menu-time{
        margin: 13px 10px 6.5px 10px;
    }
    .fixed-menu-time p{
        font-size: 12px;
        margin-top: 0px;
    }
    .fixed-menu-location{
        display: none;
    }
    .fixed-menu-location-image{
        margin-left: 8px;
        margin-right: 0px;
    }
    .fixed-menu-location-sp{
        display: block;
        margin-left: 5px;
        margin-right: 8px;
        font-size: 14px;
    }
    .fixed-menu-sns{
        display: none;
    }
    .fixed-menu img{
        width: 30px;
        height: 30px;
        margin-top: 15px;
    }
    .fixed-menu-sns-image{
        margin-left: 10px;
    }
    .top-line{
        border-top: 3px solid #fff;
        border-bottom: 3px solid #fff;
        height: 20px;
    }
    .news-container h2{
        font-size: 48px;
        margin-top: 80px;
    }
    .news-block{
        width: 90vw;
        font-size: 15px;
    }
    .news-date{
        padding-top: 7px;
        margin: 0;
        font-size: 14px;
    }
    .news-tab{
        width: 55px;
        font-size: 12px;
    }
    .news-sentence{
        padding-top: 7px;
        padding-left: 15px;
        width: 80%;
        text-align: left;
    }
    .news-sp-flex{
        display: block;
        margin-left: 10px;
        margin-top: 3px;
    }
    .features-container{
        margin-top: 100px;
        background-color: #1b1b1b;
        background-image: none;
    }
    .fetures-block-container{
        width: 90vw;
        height: 373vw;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .ferures-block-line{
        width: 87vw;
        height: 368vw;
    }
    .ferures-block-line img{
        width: 80px;
        margin-top: 15px;
        margin-right: 180px;
    }
    .ferures-block-line h3{
        font-size: 24px;
    }
    .ferures-block-line h4{
        font-size: 16px;
    }
    .ferures-block-line p{
        padding: 10px 20px;
        font-size: 14px;
    }
    .sp-br{
        display: block;
    }
    .events-container h2{
        font-size: 48px;
        margin-top: 100px;
    }
    .events-container p{
        font-size: 15px;
        margin-top: 40px;
    }
    .instagram-container{
        margin-top: 50px;
        padding: 0 20px;
    }
    .sp-none{
        display: none;
    }
    .location-container h2{
        font-size: 48px;
        margin-top: 100px;
    }
    .location-sentence{
        font-size: 15px;
        margin-top: 40px;
    }
    .location-detail-container {
        padding: 40px 0px;
        gap: 40px;
        margin-bottom: 50px;
    }
    .location-detail-container h4{
        font-size: 24px;
        top: 110px;
    }
    .waseda-station,
    .location-trains-container{
        font-size: 15px;
        top: 200px;
    }
    .location-trains{
        font-size: 12px;
        text-align: end;
        padding-right: 20px;
    }
    .footer-logo{
        top: 9vh;
    }
    .footer-logo h2{
        font-size: 64px;
    }
    .footer-entry{
        width: 213px;
        height: 50px;
        font-size: 14px;
    }
    .footer-entry p{
        width: 100%;
    }
    .return-top img{
        width: 30vw;
        height: 30vw;
    }
    .return-top{
        top: 70vh;
        right: 9vw;
    }
}

